@model oyunBulur.Models.Oyun
@{
    ViewBag.Title = "PerspektifEkle";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perspektif Ekle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://www.vhv.rs/dpng/d/440-4408153_red-dead-redemption-png-image-red-dead-redemption.png"
          type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>

    @*Marka ve Slogan bölümü.*@

    <div class="slogan">
        <a href='@Url.Action("AramaIndex", "Anasayfa")'>
            <h1 class="name">
                OYUNBULUR
            </h1>

            <h2 class="slogan-content">
                Oyun mu arıyorsun? Oyunbulur.
            </h2>
        </a>
    </div>
    <div class="underline">
        @*Navigasyon butonları.*@
        <div class="testbtn2">

            <a href='@Url.Action("Index", "TestSayfasi")' class="a" type="button">TEST</a>
        </div>
        <div class="contactbtn">

            <a href='@Url.Action("Index", "ContactSayfasi")' class="b" type="button">İLETİŞİM</a>
        </div>
        <div class="suggestbtn">

            <a href='@Url.Action("Index", "OneriSayfasi")' class="c" type="button">ÖNERİ</a>
        </div>

    </div>

    @*Sayfa Müziği'ni başlatma-durdurma scripti.*@
    <script>
        function Play() {
            var myVideo = document.getElementById("Video1");
            if (myVideo.paused) {
                myVideo.play();
                document.getElementById("play").innerHTML = "Pause";
            }
            else {
                myVideo.pause();
                document.getElementById("Pause").innerHTML = "Play";
            }
        }
    </script>


    <div class="topmenu">

        @*Müzik kontrol butonu.*@

        <div class="sound">

            <img src="~/img/playicon2.png" style="width: 40px; height: 40px; position: absolute; left: 51%; top: 1%" onClick="Play()">
            <video width="0" height="0" id="Video1">
                <source src="~/img/music.mp3">
                <source src="~/img/music.mp3">
            </video>

        </div>

    </div>

    <div class="suggestlayer30" style="position:absolute; top:30%;">
        <br>
        <h2 class="oyunismi" style=" position:absolute;left: 17%; top:6%;">PERSPEKTİF EKLE (ADMIN)</h2>

    </div>
            @*Perspektif input ile alınır name'ye ait db verisine eklenir.*@

    <form class="form-group" method="post">

        <input style="position:absolute;border-radius: 5px; border: none; height: 40px;width: 250px; background-color: white; background: white; left: 45%; top: 41%" type="text" class="input" name="PerspektifAdi" placeholder="     Perspektif ismi giriniz.">
        <button style="position:absolute; left:47.3%; top:49%; width:150px; border:none; border-radius:25px; height:40px; background-color: #D7985D" class="oneritamamla">Tamamla</button>
    </form>
</body>
</html>
